:root {
    --background-rgb: 240, 240, 240; /* Example RGB color */
  }
  
  body {
    height: 200vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  #container {
    width: 140rem;
    aspect-ratio: 1;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
    position: absolute;
    background-color: rgb(0, 0, 0);
  }
  
  #container:after,
  #container:before {
    content: "";
    position: absolute;
    inset: 0px;
    pointer-events: none;
  }
  
  #container:before {
    z-index: 2;
    background-image: url("https://assets.codepen.io/1468070/plus-pattern-center.png");
    background-size: 5%;
    background-repeat: repeat;
    background-position: center;
    opacity: 0.25;
  }
  
  #container:after {
    z-index: 3;
    
  }
  #container2 {
    width: 140rem;
    aspect-ratio: 1;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
    position: absolute;
    background-color: rgb(0, 0, 0);
  }
  
  #container2:after,
  #container2:before {
    content: "";
    position: absolute;
    inset: 0px;
    pointer-events: none;
  }
  
  #container2:before {
    z-index: 2;
    background-image: url("https://assets.codepen.io/1468070/plus-pattern-center.png");
    background-size: 5%;
    background-repeat: repeat;
    background-position: center;
    opacity: 0.25;
  }
  
  #container2:after {
    z-index: 3;
    
  }
  .tile {  
    border: 1px solid rgba(209, 207, 207, 0.244);
    transition: background-color 1500ms;
  }
  .wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.281);
    z-index: 44;
  }
  

  
 